.features{

padding:100px 40px;

background:white;

}

.features-header{

max-width:700px;

margin:auto;

text-align:center;

margin-bottom:70px;

}

.features-header span{

color:#06b6d4;

font-weight:700;

letter-spacing:2px;

}

.features-header h2{

font-size:54px;

margin:20px 0;

font-weight:900;

color:#0f172a;

}

.features-header p{

font-size:20px;

color:#64748b;

line-height:1.8;

}

.features-grid{

max-width:1300px;

margin:auto;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(330px,1fr));

gap:30px;

}

.feature-card{

padding:35px;

border-radius:26px;

background:white;

box-shadow:0 20px 60px rgba(0,0,0,.06);

transition:.3s;

}

.feature-card:hover{

transform:translateY(-12px);

}

.feature-icon{

width:70px;

height:70px;

display:flex;

justify-content:center;

align-items:center;

border-radius:18px;

margin-bottom:25px;

color:white;

}

.feature-card h3{

font-size:28px;

margin-bottom:15px;

font-weight:800;

}

.feature-card p{

font-size:17px;

line-height:1.8;

color:#64748b;

}

@media(max-width:900px){

.features{

padding:70px 20px;

}

.features-header h2{

font-size:40px;

}

.features-header p{

font-size:17px;

}

}